.card {
  align-items: center;
    background-color: rgb(232, 232, 232);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    gap: 24px;
    padding: 24px 16px;

}
.main{
  display: flex;
    flex-direction: column;
    width: 80%;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    gap: 24px;
    padding: 24px 32px;
}
body {
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%
}
.left-title {
  display: flex;
    flex-direction: column;
    width: 100%;
}
.right-title{
  width: 40%;
    text-align: right;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #a3a3a3;
}
.rdata{
  color: rgb(166, 166, 166);
    font-size: 14px;
    font-weight: 500;
}
.date{
  color: rgb(166, 166, 166);
  font-size: 14px;
  font-weight: 500;
}
.result{
  color: rgb(42, 42, 42);
    font-size: 14px;
    font-weight: 500;
}
.IPL {
 font-size: 14px;
 font-family: sans-serif ;
 color: #a3a3a3;
margin-top: 4px;
margin-left: 4px;
}
.GTCSK {
  text-transform: uppercase;
}
.main-second{
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

}
